.info-copyright{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: auto auto ;
    
}

.info-text{
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.info-text span{
    color: #575757;
    display: block;

}



.advertising{
    width: 70%;
    height: 70%;

    margin-top: 20px;


}

.advertising > img.advertising-main{
    width: 80%;
    height: 80%;
    margin-left: 100px;

    border: 3px solid #000;
    
}

button:hover{
    cursor: pointer;
}