#wrap {
    margin: 0 auto;
    padding-top: 70px;
}


/* main start*/

#wrap div.main div.bannerwrap img {
    max-width: 100%;
}
#wrap div.main {
    text-align: center;
    margin: auto;
    position: relative;
}

#wrap div.main > div.bannerwrap > div.banner{
    transition: opacity 0.5s ease-in-out;
}

.fade-in{
    opacity: 1;
}

.fade-out{
    opacity: 0;
}


/* main and*/


/* content_1 start*/

#wrap div.content_1 {
    margin: auto;

}

#wrap div.content_1 > h2 {
 
    height: 100px;
    text-align: center;
    margin-top: 200px;
}

#wrap div.content_1 > ul {
    margin: 80px auto;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#wrap div.content_1 ul li {
    margin: auto;
    text-align: center;
    margin: 0 50px 50px 50px;
    float: left;
    
}

#wrap div.content_1 ul img{
    width: 320px;
    height: 400px;
}


#wrap div.content_1 > div.arrows{
    width: fit-content;
    height: fit-content;

    display: flex;



    margin: 0 auto;
    gap: 50px;
}

#wrap div.content_1 > div.arrows :hover{
    cursor: pointer;
}


/* content_1 end*/

/* content_2 start*/

#wrap div.content_2 {
    margin: 0 auto;
    margin-top: 230px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

#wrap div.content_2 > div {
    float: left;
    margin: auto 50px;

}

/* content_2 end*/

/* footer start*/
#wrap div.footer {
    margin-top: 250px;
    height: 200px;
    background-color: rgb(145, 145, 145);
}
/* footer end*/